<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NarutoBot3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <userSettings>
    <NarutoBot3.Properties.Settings>
      <setting name="Nick" serializeAs="String">
        <value>NarutoBot</value>
      </setting>
      <setting name="Server" serializeAs="String">
        <value>irc.freenode.net</value>
      </setting>
      <setting name="Channel" serializeAs="String">
        <value>#reddit-naruto</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>6667</value>
      </setting>
      <setting name="hello_Enabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="silence" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="help_Enabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="roll_Enabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="rules_Enabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="youtube_Enabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="conversionEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="nickEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="redditEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="timeEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="triviaEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="vimeoEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="pokeEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="redditUserEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="redditUser" serializeAs="String">
        <value />
      </setting>
      <setting name="redditPass" serializeAs="String">
        <value />
      </setting>
      <setting name="releaseEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="baseURL" serializeAs="String">
        <value>http://www.mangapanda.com/naruto/</value>
      </setting>
      <setting name="chapterNumber" serializeAs="String">
        <value>696</value>
      </setting>
      <setting name="checkInterval" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="wikiEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="randomTextEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="randomTextInterval" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="aniSearchEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="apikey" serializeAs="String">
        <value />
      </setting>
      <setting name="cxKey" serializeAs="String">
        <value>009080231302963844733:3y1u9c-spl4</value>
      </setting>
      <setting name="twitterEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="malUser" serializeAs="String">
        <value />
      </setting>
      <setting name="malPass" serializeAs="String">
        <value />
      </setting>
      <setting name="killEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="timeOutTimeInterval" serializeAs="String">
        <value>240</value>
      </setting>
      <setting name="pingServerInterval" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="questionEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="twitterConsumerKey" serializeAs="String">
        <value />
      </setting>
      <setting name="twitterConsumerKeySecret" serializeAs="String">
        <value />
      </setting>
      <setting name="twitterAccessToken" serializeAs="String">
        <value />
      </setting>
      <setting name="twitterAccessTokenSecret" serializeAs="String">
        <value />
      </setting>
      <setting name="RealName" serializeAs="String">
        <value>/r/Naruto</value>
      </setting>
      <setting name="youtubeSearchEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UserAgent" serializeAs="String">
        <value>NarutoBot3</value>
      </setting>
      <setting name="UpdateSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="greetingsEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="themeName" serializeAs="String">
        <value />
      </setting>
      <setting name="showTimeStamps" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="autoScrollToBottom" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="autojoinCommand" serializeAs="String">
        <value />
      </setting>
      <setting name="quotesEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="chooseEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="funkEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="shuffleEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="giphyEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="urlTitleEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="quitMessage" serializeAs="String">
        <value>Goodbye!</value>
      </setting>
      <setting name="enforceMirrorOff" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="tellEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="factsEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="inboxSize" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="cleverbotAPI" serializeAs="String">
        <value />
      </setting>
      <setting name="botThinkEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="osuGameAPI" serializeAs="String">
        <value />
      </setting>
      <setting name="osuBeatMapParser" serializeAs="String">
        <value>True</value>
      </setting>
    </NarutoBot3.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Core" publicKeyToken="13235d27fcbfff58" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.2.4630.5" newVersion="7.2.4630.5"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.Runtime" publicKeyToken="13235d27fcbfff58" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.5449.1" newVersion="8.0.5449.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Util" publicKeyToken="13235d27fcbfff58" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.5449.1" newVersion="8.0.5449.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Security" publicKeyToken="13235d27fcbfff58" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.5449.1" newVersion="8.0.5449.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Text" publicKeyToken="13235d27fcbfff58" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.5449.1" newVersion="8.0.5449.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.XML.API" publicKeyToken="13235d27fcbfff58" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.5449.1" newVersion="8.0.5449.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
