<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="ric" ToolsVersion="12.0">
  <Include Path="extendedcorrectnessrules.ruleset" Action="Default" />
  <Include Path="extendeddesignguidelinerules.ruleset" Action="Default" />
  <Include Path="minimumrecommendedrules.ruleset" Action="Default" />
</RuleSet>